body {
    font-family: Times New Roman, comic sans;
    line-height: 2;
    margin: 1;
    padding: 20px;
    color:  blue;
    max-width: 800px;
    margin: 0 auto;
    background: #45de87;
    text-combine-upright;
    
}

h1 {
    color: #9e3e51;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}
img {
    width: 500px;
}